################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dashboard/obj
/packages
/.vs/DashboardGenerico/v17
/Dashboard/bin
