
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<body>
    <script type="text/javascript">
        window.close();
    </script>

    <a  href="@(ViewBag.BaseUrl + "/Account/LogIn")">Volver a ingresar</a>
</body>